@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');



body {
  background: url('../images/biriyani.jpg') fixed;
  background-size: cover;
}

.logo {
  font-family: 'Meddon', cursive;
  font-size: 2rem;
  color: yellow;
}